#rainbow_table{
    width: 90%;
    margin: 50px auto auto auto;
    padding-left: 0;
    border: black 1px solid;
    border-collapse: collapse;
}

#rainbow_table td{
    width: 20px;
    border: black 1px solid;
    padding-bottom: 4.85%;
}

#fill_all{
    margin: 50px auto auto auto;
    font-size: 24px;
    display: block;
}
